input {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: center;
  }

  .spacer {
    opacity: 0;
    transition: opacity 200ms;
  }

  :host.float .spacer {
    opacity: 1;
  }
  