<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-card>
    <mat-card-title layout-align="center center">User Registration</mat-card-title>
    <mat-card-content>
      <div class="inputs">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" [formControl]="firstNameCtrl">
          <mat-error *ngIf="firstNameCtrl.invalid">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" [formControl]="lastNameCtrl">
          <mat-error *ngIf="lastNameCtrl.invalid">Last name is required</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>