@import '../../variables';

:host {
    display: flex;
    justify-content: center;
}

.inputs {
    display: flex;
    @media only screen and (max-width: $mobile-size) {
        flex-direction: column;
    }
    .mat-form-field {
        padding-right: 10px;
        &:last-child {
            padding-right: 0;
        }
    }
}

.mat-card-content {
    display: flex;
    flex-direction: column;
}

.mat-spinner {
    position: absolute;
    top: calc(50% - 50px);
    right: calc(50% - 50px);
}