::ng-deep .mat-snack-bar-container.toast-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.toast-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
    }
}